.Primitives-Panel {
    display: block;
    flex: 1;
    align-items: center;
    -webkit-box-align: center;
    box-sizing: border-box;
    justify-content: center;
    -webkit-box-pack: center;
    background-color: rgba(0, 0, 0, 0.8);
}