:root {
    --title-height  : 25px;
    --button-radius : 6;
    --font-size  : 14px;
    --font-family   : Helvetica, sans-serif;
    --title-bar-color: #0095ff;
}

.TitleBar {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    overflow: hidden;
    width: 100%;
    height: 25px;
    font-family: var(--font-family);
	background: var(--title-bar-color);
	color: rgba(0, 0, 0, 0.7);
	font-size: var(--font-size);
    height: var(--title-height);
}

.TitleBar_buttons_group {
    height: var(--title-height);
	position: 'absolute';
	right: 0;
	margin: 0;
	display: 'flex';
	align-items: 'center';
	vertical-align: 'baseline';
}

.TitleBar_title {
    width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}