:root {
    --font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Primitives-TextArea {
    background-color: rgba(128, 128, 128, 0.3) !important;
    color: white !important;
    height: 100%;
    width: 100%;
    padding: 8px 10px 8px 10px;
    min-height: 80px;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.05px;
    border-radius: 3px;
    font-size: 14px;
    font-family: var(--font-family);
    box-sizing: border-box;
}

.Primitives-TextArea__label {
    display: block;
    color: rgb(251, 230, 162);
    line-height: 20px;
    margin-bottom: 0px;
    letter-spacing: -0.05px;
    font-weight: 500;
    font-size: 14px;
    font-size: var(--font-family);
    box-sizing: border-box;
}

.Primitives-TextArea__container {
    margin-top: 10px;
    margin-bottom: 24px;
    box-sizing: border-box;
}