<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="lobby-bg">
        <div class="login-form">
            {% if form.errors %}
                {% autoescape on %}
                    <p>Неверное имя пользователя или пароль. Пожалуйста, попробуйте снова.</p>
                {% endautoescape %}
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    {% autoescape on %}
                        <p>
                            У Вас недостаточно прав, чтобы видеть эту страницу.
                            Чтобы продолжить, войдите в аккаунт с соответствующими правами.
                        </p>
                    {% endautoescape %}
                {% else %}
                    {% autoescape on %}
                        <p>Пожалуйста, войдите чтобы перейти на страницу.</p>
                    {% endautoescape %}
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input class="btn btn-primary login-btn" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

</body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/main.min.css' %}"></link>
</html>